[workspace]
members = ["uefi_boot", "shim"]
resolver = "2"

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
debug = false
panic = "abort"

[profile.dev]
opt-level = 1
incremental = true
panic = "abort"

[profile.dev.package."*"]
opt-level = 3
